}
body {
    background-color: #009898;
}
.bgbox {
    position: absolute;
    width: 616px;
    height: 465px;
    left: 746px;
    top: 323px;


    background: #C4C4C4;
    border-radius: 41px;
}
.em {
    position: absolute;
    width: 504px;
    height: 84px;
    left: 800px;
    top: 358px;

    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    background: #E5E5E5;
}
.pass {
    position: absolute;
    width: 508px;
    height: 84px;
    left: 800px;
    top: 470px;

    border-radius: 20px;
    font-size:30px;
    text-align: center;

    background: #E5E5E5;
}
.sub {
    position: absolute;
    width: 317.29px;
    height: 67.48px;
    left: 895.25px;
    top: 593px;

    background: #FFF16F;
    border-radius: 20px;

    font-family: Roboto;
    font-weight: 900;
    font-size: 32px;
    align-content: center;

    color: #000000;

}
.logo {
    position: absolute;
    width: 205px;
    height: 137px;
    left: 1246px;
    top: 0px;

}
h3 {
    position: absolute;
    width: 614px;
    height: 85px;
    left: 0px;
    top: 231px;

    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}
.playdate {
    position: absolute;
    width: 628px;
    height: 216px;
    left: 10px;
    top: 15px;

}
.reset {
    position: absolute;
    width: 317.29px;
    height: 67.48px;
    left: 895.25px;
    top: 685px;

    background: #FFF16F;
    border-radius: 20px;

    font-family: Roboto;
    font-weight: 900;
    font-size: 32px;
    align-content: center;

    color: #000000;

}
.doggo {
    position: absolute;
    width: 705px;
    height: 1055px;
    left: -67px;
    top: 120px;
}